.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 10;
    
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
 
}

h1{
    color: #000000;
}


h3{
    color: white;
    margin-top: 40px;
    text-align: center;
}

p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
}



.container{
    color: #292929;
    text-align: center;
}


.contenedorUno{
    color: #292929;
    background-color: white;
    text-align: center;

}

ul,a{
    color: white;
}

li{
    color: white;
    margin-top: 10px;
    list-style: none;
}

.card{
    align-items: center;
}

.alert{
    margin-top: 20px;
    text-align: center;
}

.form-control{
    width: 400px;
    margin-top: 10px;
    text-align: center;
}


button{
    align-items: center;
}

.registro{
    background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/infobae/O64KAKWHNRHMDLOQX74ROHGFC4.jpg);
    width: 100%;
    height: 600px;
    filter: brightness(80%);

}

.card{
    width: 100%;
    
}

.row{
    align-items: center;
}


